In [15]:
df = pd.read_excel("founder_info.xlsx")
df.to_csv("founder_info.csv", index=False)

In [17]:
import pandas as pd

# Load main dataset
df_main = pd.read_csv("shark_tank_cleaned.csv.csv", encoding='latin1')

# Load founder info
df_founder = pd.read_csv("founder_info.csv")

# Merge on Pitch Number (ensure column exists in both)
df = df_main.merge(df_founder, on='Pitch Number')

# Check result
print(df.head())

   Episode Number  Pitch Number                Brand  \
0               1             1  BluePine Industries
1               1             2        Booz scooters
2               1             3  Heart up my Sleeves
3               2             4           Tagz Foods
4               2             5       Head and Heart

                                            Idea  \
0                                   Frozen Momos
1  Renting e-bike for mobility in private spaces
2                             Detachable Sleeves
3                           Healthy Potato Chips
4                       Brain Development Course

   Investment Amount (In Lakhs INR)  Debt (In lakhs INR) Equity Anupam  \
0                                75                    0    18%      N
1                                40                    0    50%      N
2                                25                    0    30%      Y
3                                70                    0  2.75%      N
4                                 0                    0      0      N

  Ashneer Namita  ... Peyush Vineeta Ghazal Season  Total Sharks  \
0       Y      N  ...      N       Y      N      1             3
1       Y      N  ...      N       Y      N      1             2
2       N      N  ...      N       Y      N      1             2
3       Y      N  ...      N       N      N      1             1
4       N      N  ...      N       N      N      1             0

   Founder Gender Education Age  Experience Founder Type
0            Male   IIT/IIM  28         Yes         Solo
1          Female    Tier-2  24          No   Co-founder
2            Male   Foreign  32         Yes         Solo
3          Female    Tier-1  29         Yes   Co-founder
4            Male   IIT/IIM  35          No         Solo

[5 rows x 21 columns]

In [20]:
df['Funded'] = df['Investment Amount (In Lakhs INR)'] > 0

In [23]:
#gender based funding
gender_success = df.groupby('Founder Gender')['Funded'].mean()
print(gender_success)

Founder Gender
Female    0.8
Male      0.6
Name: Funded, dtype: float64

In [24]:
#education based success
edu_success = df.groupby('Education')['Funded'].mean()
print(edu_success)

Education
Foreign    0.500000
IIT/IIM    0.666667
Tier-1     1.000000
Tier-2     0.666667
Name: Funded, dtype: float64

In [26]:
#age group analysis
df['Age Group'] = pd.cut(df['Age'], bins=[0, 25, 35, 50], labels=["<25", "25-35", "35+"])
age_success = df.groupby('Age Group')['Funded'].mean()
print(age_success)

Age Group
<25      1.000000
25-35    0.666667
35+           NaN
Name: Funded, dtype: float64

C:\Users\dell\AppData\Local\Temp\ipykernel_264\803324462.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_success = df.groupby('Age Group')['Funded'].mean()

In [28]:
experience_success = df.groupby('Experience')['Funded'].mean()
foundertype_success = df.groupby('Founder Type')['Funded'].mean()
print(experience_success)
print(foundertype_success)

Experience
No     0.500000
Yes    0.833333
Name: Funded, dtype: float64
Founder Type
Co-founder    0.8
Solo          0.6
Name: Funded, dtype: float64